@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E252B;
}

.header {
    margin: 0 auto;
    max-width: 1215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}

.header_1 {
    display: flex;
}

.header_title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFE5;
    margin-left: 21px;
}

.header_container {
    width: 431px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container--link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    text-decoration: none;
}

select {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #1E252B;
    border: #1E252B;
    color: #FFFFFF8C;
}

.header_btns--btn {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    background-color: #1E252B;
    border: #1E252B;
}

.header_btns--btn--1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FDF5FF;
    background-color: #FF6E30;
    border: #FF6E30;
    border-radius: 8px;
    padding: 12px 20px 12px 20px;
    margin-left: 41px;
}

.tools {
    margin: 0 auto;
    background-image: url(./img/bg.png);
    height: 570px;
    margin-top: 58px;
}

.tools_container {
    margin: 0 auto;
    max-width: 1215px;
}

.tools_container--title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFFE5;
    width: 600px;
    margin-bottom: 30px;
    padding-top: 46px;
}

.tools_container--title span {
    color: #FF6E30;
}


.tools_container--text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    width: 487px;
    margin-bottom: 60px;
}

.tools_title span {
    font-family: Poppins;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #e85a2a;
}

.tools_container--box {

    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 11px 8px 18px;
    border-radius: 15px;

    /* фон самой коробки */
    background-color: #283036;

    /* граница: прозрачная, чтобы просвечивал второй фон */
    border: 1.5px solid transparent;

    /* ДВА слоя фона:
     1) сплошной фон (идёт в padding-box)
     2) градиент (идёт в border-box и виден как рамка)
  */
    background:
        linear-gradient(#283036, #283036) padding-box,
        linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%) border-box;

    /* помогает старым WebKit корректно клипать слои */
    background-clip: padding-box, border-box;
}

.tools_container--box--input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.tools_container--box--input input {
    border: none;
    background: transparent;
    color: white;
    padding: 10px;
    width: 250px;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}


.tools_container--box--input input::placeholder {
    color: #aaa;
    background-color: #283036;
}

.tools_container--box button {
    background-color: #ff6b35;
    border: none;
    padding: 12px 36px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 130px;
    height: 48px;
}

.tools_container--box button:hover {
    background-color: #e85a2a;
}

.tools_container--icons {
    max-width: 190px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
    padding-left: 22px;
}

.grid {
    max-width: 1224px;
    margin: 0 auto;
}

.grid_title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFFE5;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    margin: auto 0;
    margin-top: 200px;
}

.grid_text {
    width: 427px;
    margin: 0 auto;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
    color: #FFFFFF8C;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 90px;
    row-gap: 100px;
}

.grid_container--box {
    width: 392px;
    height: 294px;
    border-radius: 15px;
}

.grid_container--box:hover {
    .grid_container--box--footer--button {
        background-color: #FF6E30;
        color: #FFFFFF;
    }


    background-image: url(./img/Rectangle\ 5.png);

    .grid_container--box--header--plan {
        color: #FFA537;
    }

    .grid_container--box--footer--icon--1 {
        background-color: #283036;
        box-shadow: none;
        border: none;
        border-radius: 8px;
    }

    .grid_container--box--footer--icon--2 {
        background-color: #283036;
        box-shadow: none;
        border: none;
        border-radius: 8px;
    }
}

.grid_container--box--header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 33px;
    margin-left: 33px;
}

.grid_container--box--header--title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFC7;
    margin-bottom: 10px;
}

.grid_container--box--header--plan {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFA5378C;
    margin: 0 auto;

}

.grid_container--box--text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    margin-left: 33px;
}

.grid_container--box--footer {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 125px;
    margin-left: 33px;
    margin-bottom: 33px;
}

.grid_container--box--footer--icon {
    display: flex;
    align-items: center;
    gap: 28px;
}

.grid_container--box--footer--icon--1 {
    background-color: #1E252B;
    box-shadow: none;
    border: none;
}

.grid_container--box--footer--icon--1:hover {

    box-shadow: none;
    border: none;
}

.grid_container--box--footer--icon--1--svg:hover {
    fill: #FD3B41;
}

.grid_container--box--footer--icon--2 {
    background-color: #1E252B;
    box-shadow: none;
    border: none;
}

.grid_container--box--footer--icon--2:hover {
    background-color: #283036;
    box-shadow: none;
    border: none;
}

.grid_container--box--footer--icon--2--svg :hover {
    fill: #FFFFFF8C;
}

.grid_container--box--footer--button {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    border-radius: 8px;
    background-color: #1E252B;
    padding: 9px 35px;
    border-style: none;
}



.grid_button button {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FF6E30;
    border-radius: 8px;
    border: 1px solid #FFFFFF1A;
    padding: 17px 38px;
    background-color: #1E252B;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

.brand {
    margin: 0 auto;
    max-width: 1224px;
    background-image: url(./img/bg_img_brands.png);
    border-radius: 25px;
    border: 2px solid #2C353D33;
    margin-top: 200px;
}

.brand_title {
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFCC;
    margin-top: 55px;
    margin-bottom: 55px;
}

.brand_logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1059px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.newTools {
    max-width: 1224px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 200px;
    margin-bottom: 200px;
}

.newTools_left {
    display: block;
    align-items: center;
    margin-top: 20px;
}

.newTools_left--title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFE5;
    margin-bottom: 30px;
}

.newTools_left--text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    width: 427px;
    margin-bottom: 60px;
}

.newTools_left--btn {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #FF6E30;
    padding: 15px 40px;
    border-radius: 8px;
    box-shadow: none;
    border: none;
}


.newTools_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 90px;
    row-gap: 70px;
}

.newTools_container--box {
    width: 288px;
    height: 284px;
    border-radius: 15px;
}

.newTools_container--box:hover {
    .newTools_container--box--header--plan {
        color: #FFA537;
    }

    .newTools_container--box--footer--icon--1 {
        background-color: #283036;
        box-shadow: none;
        border: none;
        border-radius: 8px;
    }

    .newTools_container--box--footer--icon--2 {
        background-color: #283036;
        box-shadow: none;
        border: none;
        border-radius: 8px;
    }

    .newTools_container--box--footer--button {
        background-color: #FF6E30;
        color: #FFFFFF;
    }

    background-image: url(./img/Rectangle\ 5\ \(1\).png);
}

.newTools_container--box--header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 33px;
    margin-left: 33px;
}

.newTools_container--box--header--title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFC7;
    margin-bottom: 10px;
}

.newTools_container--box--header--plan {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFA5378C;
    margin: 0 auto;

}


.newTools_container--box--text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    margin-left: 33px;
    width: 245px;
}

.newTools_container--box--footer {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 43px;
    margin-left: 33px;
    margin-bottom: 33px;

}

.newTools_container--box--footer--icon {
    display: flex;
    align-items: center;
    gap: 28px;
}

.newTools_container--box--footer--icon--1 {
    background-color: #1E252B;
    box-shadow: none;
    border: none;
}

.newTools_container--box--footer--icon--1--svg:hover {
    fill: #FD3B41;
}

.newTools_container--box--footer--icon--2 {
    background-color: #1E252B;
    box-shadow: none;
    border: none;
}


.newTools_container--box--footer--icon--2--svg :hover {
    fill: #FFFFFF8C;
}

.newTools_container--box--footer--button {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    border-radius: 8px;
    background-color: #1E252B;
    padding: 9px 35px;
    border-style: none;
}



.profile {
    margin: 0 auto;
    max-width: 1224px;
    background: url("./img/bg.jpg") no-repeat center/cover;
    margin-bottom: 251px;
}

.profile_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 850px;
    margin: 0 auto;
}

.profile_container--select--content--text {
    width: 100%;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5%;
    color: #FFFFFFC7;
    width: 383px;
    height: 180px;
}

.profile_container--select--content {
    position: relative;
}

.profile_container--select--content p {
    position: relative;
    z-index: 1;
}

.quote-mark {
    width: 103px;
    height: 320px;
    font-family: Lora;
    font-weight: 500;
    font-size: 250px;
    line-height: 100%;
    position: relative;
    background: linear-gradient(188.88deg, rgba(252, 252, 252, 0) 20.34%, rgba(255, 255, 255, 0.5) 155.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(19.17deg);
}

.profile_container--select--nav {
    position: absolute;
    max-width: 1224px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.profile_container--select--nav span {
    pointer-events: auto;
    cursor: pointer;
    font-size: 2.5rem;
    color: #FFFFFF47;
    user-select: none;
    transition: 0.3s ease;
}

.profile_container--select--nav span:hover {
    color: #FF6E30;
}

.dots {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 168px;
    margin-top: 100px;
}

.dots--dot {
    width: 44px;
    height: 6px;
    background-color: #283036;
    border-radius: 4px;
    border: none;
}

.dots--dot:hover {
    width: 44px;
    height: 8px;
    background-color: #FF6E30;
    cursor: pointer;
}

.contributor {
    max-width: 553px;
    margin: 0 auto;
}

.contributor_title {
    margin: 0 auto;
    font-family: Poppins;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFFE5;
    margin-bottom: 25px;
}

.contributor_text {
    width: 427px;
    margin: 0 auto;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF8C;
    margin-bottom: 100px;
}

.contributor--box {

    
    max-width: 549px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 12px 8px 24px;
    border-radius: 15px;

    /* фон самой коробки */
    background-color: #283036;

    /* граница: прозрачная, чтобы просвечивал второй фон */
    border: 1.5px solid transparent;

    /* ДВА слоя фона:
     1) сплошной фон (идёт в padding-box)
     2) градиент (идёт в border-box и виден как рамка)
  */
    background:
        linear-gradient(#283036, #283036) padding-box,
        linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%) border-box;

    /* помогает старым WebKit корректно клипать слои */
    background-clip: padding-box, border-box;
    margin-bottom: 240px;
}

.contributor--box input {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF61;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #283036;
    border: none;
}

.contributor--box button {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #FF6E30;
    padding: 12px 35px;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.line {
    border: 0.5px solid #FFFFFF26;
}

.footer {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 156px;
    justify-content: space-between;
    align-items: start;
    margin-top: 70px;
    margin-bottom: 98px;
}


.footer_box--title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 27px;
}

.footer_box--title h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFE5;
}

.footer_box--copy {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFE5;
    margin-bottom: 21px;
}

.footer_box--text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    width: 260px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 115px;
}

.footer_container--box {
    display: block;
}

.footer_container--box h3 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFE5;
    margin-bottom: 20px;
}

.footer_container--box--info p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF8C;
    margin-bottom: 15px;
}

.footer_container--box--nav {
    display: grid;
    row-gap: 15px;
}

.footer_container--box--nav--link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF8C;
}